<!--footer-->
<footer id="contact" class="contact">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="single-footer-widget">
            <div class="footer-logo">
              <a href="index.html">cruisecare</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 5591841 WM9L3: User Experience & Solution Design PMA</p>
        </div>
      </div>
    </div>
    <!--/.footer-copyright-->
  </div>
  <!--/.container-->

  <div id="scroll-Top">
    <div class="return-to-top">
      <i
        class="fa fa-angle-up"
        id="scroll-top"
        data-toggle="tooltip"
        data-placement="top"
        title=""
        data-original-title="Back to Top"
        aria-hidden="true"
      ></i>
    </div>
  </div>
  <!--/.scroll-Top-->
</footer>
